@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v24-latin-900.woff2') format('woff2'),
        url('../fonts/fraunces-v24-latin-900.woff') format('woff');
}

:root {
    --font-barlow: 'Barlow', 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    --font-fraunces: 'Fraunces 9pt',
        'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    --text-color: #FEFCF7;
    --title-color: #83888F;
    --green: #0E8784;
    --pale-yellow: #FDD6BA;
    --bg-color: #293039;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 6.25%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.container {
    max-width: 1320rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30rem;
    padding-right: 30rem;
}

.header {
    padding-top: 40rem;
    padding-bottom: 40rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav-list {
    display: flex;
    gap: 30rem;
}

.nav-link {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 700;
    font-size: 12rem;
    line-height: 15rem;
    letter-spacing: 0.923077rem;
    text-transform: uppercase;
    color: var(--title-color);
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: #333D4B;
}

.toggle-btn {
    position: fixed;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: space-between;
    align-items: stretch;
    display: none;
    z-index: 99999;
    top: 40px;
    right: 40px;
}

.toggle-btn span {
    display: block;
    height: 4px;
    width: 30px;
    background: #333D4B;
    border-radius: 10rem;
    transition: .3s ease-in;
    margin-bottom: 6px;
    opacity: 1;
}

.toggle-btn.open span:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.toggle-btn.open span:nth-child(3) {
    transform: rotate(45deg) translateY(-14px);
}

.toggle-btn.open span:nth-child(1) {
    transform: rotate(-45deg) translateY(14px);
}

.hero {
    margin-bottom: 150rem;
}

.hero .hero-wrapper {
    background-image: url(../images/hero-bg.jpg);
}

.hero-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116rem 85rem;
    border-radius: 10rem;
}

.hero-info {
    width: 493rem;
}

.hero-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: var(--text-color);
    margin-bottom: 32rem;
}

.hero-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: var(--text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 56rem;
    width: 445rem;
}

.btn {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 18rem;
    line-height: 25rem;
    color: var(--text-color);
    background-color: var(--green);
    border-radius: 6rem;
    padding: 15rem 30rem;
    transition: all .3s ease;
}

.btn:hover {
    background: #66D2CF;
}

.collection {
    margin-bottom: 180rem;
}

.collection-container {
    background-image: url(../images/collection-bg.svg) top center no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120rem;
}

.collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255rem, 1fr));
    gap: 30rem;
    justify-content: center;
    align-items: center;
}

.collection-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-card-item .card-img {
    margin-bottom: 70rem;
}

.collection-card-item .card-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    text-align: center;
    color: #333D4B;
    margin-bottom: 24rem;
}

.collection-card-item .card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: #333D4B;
}

.service-wrapper {
    background-color: var(--bg-color);
    width: 100%;
    height: 578rem;
    border-radius: 10rem;
    padding-top: 100px;
    padding-left: 85px;
    padding-right: 85px;
}

.service-container {
    display: flex;
    flex-direction: column;
}

.service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 40rem;
    line-height: 48rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 32rem;
}

.service-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: var(--text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540rem;
    margin-bottom: 86rem;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
    gap: 30rem;
    justify-content: center;
}

.service-card-item {
    background: var(--green);
    border-radius: 8rem;
    width: 350rem;
    padding-top: 72rem;
    padding-bottom: 48rem;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-card-item .card-img {
    margin-bottom: 56rem;
}

.service-card-item .card-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 24rem;
}

.service-card-item .card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: var(--text-color);
}

.last-section {
    margin-top: 300px;
}

.last-section .title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: var(--title-color);
    margin-bottom: 80rem;
}

.shape {
    margin-bottom: 80rem;
    height: 2rem;
    width: 74.5%;
    background: var(--pale-yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shape span {
    width: 31rem;
    height: 31rem;
    border-radius: 50%;
    background: #f2f2f2;
    border: 2rem solid var(--green);
}

.last-section-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210rem, 1fr));
    gap: 95rem;
    justify-content: center;
    margin-bottom: 64rem;
}

.last-section-card-item {
    width: 285px;
}

.last-section-card-item .card-number {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: var(--pale-yellow);
    margin-bottom: 38rem;
}

.last-section-card-item .card-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 32rem;
    line-height: 36rem;
    color: #333D4B;
    margin-bottom: 42rem;
}

.last-section-card-item .card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #333D4B;
}

.footer {
    margin-top: 216rem;
}

.footer-wrapper {
    background-color: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 85px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 100rem;
}

.footer-container .nav-link:hover {
    color: var(--text-color);
}

.networks a:not(:last-child) {
    margin-right: 20rem;
}

.about-hero .hero-wrapper {
    background-image: url(../images/hero-bg-about.jpg);
    margin-bottom: 150rem;
}

.about-hero.wrap {
    border-radius: 10rem;
}

.about-hero .hero-text {
    margin-bottom: 12rem;
}

.about-hero-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: var(--text-color);
    font-size: 40rem;
    margin-bottom: 24rem;
}

.commitment-container {
    display: flex;
    align-items: center;
    margin-bottom: 150rem;
}

.commitment-image {
    margin-right: 125rem;
}

.commitment-info .title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 40rem;
    line-height: 48rem;
    color: #333D4B;
    margin-bottom: 32rem;
}

.commitment-info .text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540rem;
}

.quality-wrapper {
    background: var(--bg-color);
    height: 480rem;
    display: flex;
    align-items: center;
    padding: 100px 85px;
    border-radius: 10px;
}

.quality-container {
    margin-bottom: 150rem;
}

.quality-image {
    margin-top: -80rem;
}

.quality-image img {
    border-radius: 8rem;
}

.quality-info {
    margin-right: 125rem;
}

.quality-info .title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 40rem;
    line-height: 48rem;
    color: var(--text-color);
    margin-bottom: 32rem;
}

.quality-info .text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: var(--text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540rem;
}

.dealer-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: var(--title-color);
    margin-bottom: 60rem;
}

.dealer-card {
    display: flex;
    gap: 150rem;
}

.dealer-card-img {
    margin-bottom: 40rem;
}

.dealer-card-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 32rem;
    line-height: 36rem;
    color: #333D4B;
    margin-bottom: 24rem;
}

.dealer-card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #333D4B;
}

.plan-hero {
    margin-bottom: 150rem;
}

.plan-hero .hero-wrapper {
    background-image: url(../images/plan-hero-bg.jpg);
    border-radius: 10rem;
}

.second-section .hero-wrapper {
    background-color: var(--bg-color);
    border-radius: 10rem;
    margin-bottom: 150rem;
}

.second-section .shape span {
    background: transparent;
}

.second-section-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285rem, 1fr));
    gap: 95rem;
    justify-content: center;
    margin-bottom: 50rem;
}

.second-section-card-item .card-number {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: var(--pale-yellow);
    margin-bottom: 35rem;
}

.second-section-card-item .card-title {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 32rem;
    line-height: 36rem;
    color: var(--text-color);
    margin-bottom: 40rem;
    width: 255rem;
}

.second-section-card-item .card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: var(--text-color);
    width: 285rem;
}

.plans-container {
    display: flex;
    gap: 150rem;
}

.department {
    padding-top: 24rem;
    padding-bottom: 24rem;
    border-bottom: 1rem solid var(--title-color);
    display: flex;
}

.department p {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: var(--title-color);
    cursor: pointer;
    transition: all .3s ease;
}

.department:first-child span {
    color: var(--green);
}

.department p:hover {
    color: #333D4B;
}

.department span {
    margin-right: 20rem;
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: var(--title-color);
}

.active-department p {
    color: #333D4B;
}

.department-name {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 40rem;
    line-height: 48rem;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 730rem;
    cursor: pointer;
    margin-bottom: 56rem;
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(228rem, 1fr));
    gap: 23rem;
    margin-bottom: 88rem;
}

.plan-card {
    width: 228rem;
    height: 250rem;
    background-color: #dbd8d8;
    padding: 32rem 28rem 84rem 28rem;
    transition: .5s;
    border-radius: 8rem;
    cursor: pointer;
}

.plan-card:hover {
    background-color: var(--pale-yellow);
}

.plan-card-name {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: #333D4B;
    margin-bottom: 24rem;
}

.plan-card-text {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #333D4B;
}

.active-card {
    background-color: var(--green);
}

.active-card:hover {
    background-color: var(--green);
}

.summary {
    background-color: var(--bg-color);
    width: 730rem;
    height: 216rem;
    padding: 31rem 64rem;
    border-radius: 8rem;
    margin-bottom: 60rem;
}

.summary-title {
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 8rem;
}

.summary-text {
    font-family: var(--font-fraunces);
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 40rem;
    color: #FFFFFF;
}

.summary-text span {
    color: var(--green);
}

.plans .btn {
    float: right;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    .hero {
        background: url(../images/hero-bg@2x.jpg) 0 0/100% auto no-repeat;
    }

    .about-hero {
        background: url(../images/hero-bg-about@2x.jpg) 0 0/100% auto no-repeat;
    }

    .plan-hero {
        background: url(../images/plan-hero-bg@2x.jpg) 0 0/100% auto no-repeat;
    }
}

@media screen and (max-width: 1270px) {
    .service-card-item {
        width: 100%;
    }

    .service-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .service-cards {
        gap: 15px;
    }
}

@media screen and (max-width: 1050px) {
    .last-section {
        margin-top: 600px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .nav-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .logo {
        margin: 0;
    }

    .last-section-card {
        gap: 50px;
    }

    .last-section-card-item {
        width: 210px;
    }
}

@media screen and (max-width: 768px) {
    .hero-wrapper {
        padding: 80px 50px;
    }

    .hero-title {
        font-size: 48px;
        line-height: 48px;
        width: 400px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 26px;
    }

    .collection-cards {
        display: flex;
        flex-direction: column;
    }

    .collection-card-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .collection-card-item .card-img {
        margin-bottom: 0;
        grid-area: 1/1/1/2;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .collection-card-item .card-text {
        text-align: left;
        width: 282px;
    }

    .service-title {
        font-size: 32px;
    }

    .service-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .service-card-item {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .last-section {
        margin-top: 1000px;
    }

    .last-section-card {
        gap: 10px;
    }

    .last-section-card-item {
        width: 210px;
    }
}

@media screen and (max-width: 630px) {
    .site-nav {
        display: none;
        opacity: 0;
    }

    .site-nav.active {
        position: fixed;
        display: block;
        background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 25.94%);
        height: 100vh;
        width: 100%;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .site-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .toggle-btn {
        display: block;
    }

    .nav-link {
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 32px;
    }

    .service-text {
        width: 100%;
    }

    .hero-title {
        font-size: 40px;
        text-align: center;
        width: 300px;
    }

    .hero-text {
        font-size: 15px;
        width: 300px;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        justify-content: center;
    }

    .hero-wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collection-card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shape {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .last-section {
        margin-top: 1200px;
    }
    .service-title {
        font-size: 28px;
    }
    .last-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer {
        margin-top: 100px;
    }
}