@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v24-latin-900.woff2') format('woff2'),
        url('../fonts/fraunces-v24-latin-900.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 6.25%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.container {
    max-width: 1200rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30rem;
    padding-right: 30rem;
}

.wrap {
    max-width: 1320rem;
    padding-left: 30rem;
    padding-right: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 40rem;
    padding-bottom: 40rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.site-nav-list {
    display: flex;
    gap: 30rem;
}

.nav-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12rem;
    line-height: 15rem;
    letter-spacing: 0.923077rem;
    text-transform: uppercase;
    color: #83888F;
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: #333D4B;
}

.hero {
    background: url(../images/hero-bg.jpg) 0 0/100% auto no-repeat;
    margin-bottom: 150rem;
    border-radius: 10px;
}

.hero.wrap {
    max-width: 1260rem;
}

.hero-info {
    padding-top: 115rem;
    padding-bottom: 115rem;
}

.hero-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: #FEFCF7;
    margin-bottom: 32rem;
    width: 493rem;
}

.hero-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 56rem;
    width: 445rem;
}

.btn {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18rem;
    line-height: 25rem;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6rem;
    padding: 15rem 30rem;
    transition: all .3s ease;
}

.btn:hover {
    background: #66D2CF;
}

.collection {
    margin-bottom: 180rem;
}

.collection-container {
    background: url(../images/collection-bg.svg) top center no-repeat;
    padding-top: 120rem;
}

.collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255rem, 1fr));
    gap: 30rem;
    justify-content: center;
    /* align-items: center; */
}

.collection-card-item .card-img {
    margin-bottom: 70rem;
}

.collection-card-item .card-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    text-align: center;
    color: #333D4B;
    margin-bottom: 24rem;
}

.collection-card-item .card-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: #333D4B;
}

.service.wrap {
    background-color: #293039;
    max-width: 1260rem;
    height: 578rem;
    border-radius: 10rem;
}

.service-container {
    padding-top: 100rem;
    display: flex;
    flex-direction: column;
}

.service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40rem;
    line-height: 48rem;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32rem;
}

.service-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540rem;
    margin-bottom: 86rem;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350rem, 1fr));
    gap: 30rem;
    justify-content: center;
}

.service-card-item {
    background: #0E8784;
    border-radius: 8rem;
    width: 350rem;
    padding-top: 72rem;
    padding-bottom: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-card-item .card-img {
    margin-bottom: 56rem;
}

.service-card-item .card-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24rem;
}

.service-card-item .card-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    text-align: center;
    color: #FEFCF7;
}

.last-section .title {
    margin-top: 300rem;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24rem;
    line-height: 32rem;
    color: #83888F;
    margin-bottom: 80rem;
}

.shape {
    margin-bottom: 80px;
    height: 2px;
    width: 850px;
    background: #FDD6BA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shape span {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #f2f2f2;
    border: 2px solid #0E8784;
}

.last-section-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285rem, 1fr));
    gap: 95rem;
    justify-content: center;
    margin-bottom: 64rem;
}

.last-section-card-item .card-number {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: #FDD6BA;
    margin-bottom: 38rem;
}

.last-section-card-item .card-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32rem;
    line-height: 36rem;
    color: #333D4B;
    margin-bottom: 42rem;
    width: 255rem;
}

.last-section-card-item .card-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;
    color: #333D4B;
    width: 285rem;
}

.footer {
    background-color: #2C343E;
    margin-top: 216rem;
    width: 1260rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48rem;
    padding-bottom: 48rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 100rem;
}

.footer-container .nav-link:hover {
    color: #FEFCF7;
}

.networks a:not(:last-child) {
    margin-right: 20rem;
}

.about-hero {
    background: url(../images/hero-bg-about.jpg) 0 0/100% auto no-repeat;
    margin-bottom: 150rem;
}

.about-hero.wrap {
    max-width: 1260px;
    border-radius: 10px;
}

.about-hero .hero-text {
    margin-bottom: 12rem;
}

.about-hero-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72rem;
    line-height: 72rem;
    color: #FEFCF7;
    font-size: 40px;
    margin-bottom: 24px;
}

.commitment-container {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.commitment-image {
    margin-right: 125px;
}

.commitment-info .title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.commitment-info .text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
}

.quality.wrap {
    max-width: 1260px;
    background: #293039;
    height: 480px;
    margin-bottom: 150px;
}

.quality-container {
    display: flex;
    align-items: center;
}

.quality-image {
    margin-top: -80px;
}

.quality-image img {
    border-radius: 8px;
}

.quality-info {
    margin-right: 125px;
}

.quality-info .title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.quality-info .text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
}

.dealer-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 60px;
}

.dealer-card {
    display: flex;
    gap: 150px;
}

.dealer-card-img {
    margin-bottom: 40px;
}

.dealer-card-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 24px;
}

.dealer-card-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    .hero {
        background: url(../images/hero-bg@2x.jpg) 0 0/100% auto no-repeat;
    }

    .about-hero {
        background: url(../images/hero-bg-about@2x.jpg) 0 0/100% auto no-repeat;
    }
}